@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
  font-stretch: compressed;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-display: swap;
  font-weight: 800;
  font-stretch: compressed;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Medium.ttf") format("truetype");
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Light.ttf") format("truetype");
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-display: swap;
  font-weight: 600;
}

:root,
[data-theme] {
  background: hsl(var(--b2));
}

body {
  min-height: 100vh;
  font-family: "Gilroy", sans-serif;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

/* p {
  margin: 1rem 0;
} */

.btn-primary {
  border-radius: 0.4rem;
  font-size: 0.9rem;
  text-transform: capitalize;
  font-weight: 400;
}

.btn-tertiary {
  border-radius: 0.4rem;
  font-size: 0.9rem;
  text-transform: capitalize;
  font-weight: 400;
}

.nav-link:hover {
  background: none;
}

.nav-link:focus,
.nav-link:active {
  background: none !important;
}

.btn-sm {
  font-size: 0.85rem;
}

@media (min-width: 1536px) {
  .container {
    max-width: 80%;
  }
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}
